
.main-footer {
    position:absolute;
    bottom:0;
    width:100%;
    background: #fff;
    padding: 15px;
    color: black;
    border-top: 1px solid #d2d6de;
    margin-left: -90px;
    z-index: 9;
    padding-right: 75px;
}