<div mat-dialog-content>
  <div class="container list-table">
    <div fxLayout="column" style="text-align: center;">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="ID">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="id-table">
            ID
          </mat-header-cell>
          <mat-cell *matCellDef="let cd" class="id-table">
            {{ cd.id }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="NomeFantasia">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="id-table">
            Nome Fantasia
          </mat-header-cell>
          <mat-cell *matCellDef="let cd" class="id-table">
            {{ data.drog.nomeFantasia }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Funcionario">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="id-table">
              Funcionario
            </mat-header-cell>
            <mat-cell *matCellDef="let cd" class="id-table">
              {{ cd.drogaria.funcionario.nome }}
            </mat-cell>
          </ng-container>


        <ng-container matColumnDef="Data">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="id-table">
            Data
          </mat-header-cell>
          <mat-cell *matCellDef="let cd" class="id-table">
            {{ cd.dataAlteracao | date: 'dd/MM/yyyy HH:mm:ss'}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="TipoProposta">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="id-table">
            Tipo Proposta
          </mat-header-cell>
          <mat-cell *matCellDef="let cd" class="id-table">
            {{ cd.tipoProposta }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="id-table">
            Status
          </mat-header-cell>
          <mat-cell *matCellDef="let cd" class="id-table">
            {{ cd.status }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Observacao">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="id-table">
            Observação
          </mat-header-cell>
          <mat-cell *matCellDef="let cd" class="id-table">
            {{ cd.observacao }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="colunas">
        </mat-header-row>
        <mat-row *matRowDef="let row; columns: colunas;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>