

mat-cell, mat-footer-cell, mat-header-cell {
    display: grid;
}

::ng-deep .mat-chip-list-wrapper {
    display: inline !important;
}

::ng-deep .mat-standard-chip {
    line-height: 13px;
}

::ng-deep .mat-standard-chip::after {
   background-color: #db4132 !important;
   transition: none !important;
}

.id-table {
    max-width: 50px;
}

.nomeFantasia-table {
    max-width: 350px;
}

.funcionario-table {
    max-width: 150px;
}

.data-table {
    max-width: 150px;
}

.tipoProposta-table {
    max-width: 150px;
    text-align: center;
}

.status-table {
    max-width: 100px;
}

.observacao-table {
    max-width: 250px;
}

.acoes-table {
    max-width: 100px;
}

.material-icons {
    font-size: 22px;
}
