
* {
    z-index: initial;
}

.acoes-btns {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.seach-input {
    padding-right: 5%;
    margin-top: 3%;
}

.list-table {
    padding-top: 1%;
    padding-right: 5%;
}


mat-cell, mat-footer-cell, mat-header-cell {
    display: grid;
}

.mat-paginator {
    color: black;
    font-weight: bold;
    background: #DCDCDC;
}

.mat-paginator-navigation-previous mat-icon-button {
    color: black;
}

.mat-footer-row, mat-header-row {
    background: #DCDCDC;
}

h3 {
   color: #295baa;
   -webkit-text-shadow: 0 .1rem .9rem rgba(0,0,0,.3);
    text-shadow: 0 0.1rem 0.9rem rgba(0,0,0,.3);
    font-size: 26px;
}

.acoes {
    display: flex !important;
    text-align: center;
    padding-top: 10px;
}

.mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right: 0;
    padding-left: 0;
}

.mat-cell:first-of-type, .mat-footer-cell:first-of-type, .mat-header-cell:first-of-type {
    padding-right: 0;
    padding-left: 0;
}

.id-table {
    max-width: 100px;
}

.acoes-table {
    max-width: 100px;
}

.estado-table {
    max-width: 100px;
}

.cnpj-table {
    max-width: 150px;
}

.cidade-table {
    max-width: 200px;
}

.contato-table {
    max-width: 250px;
}

.rs-table {
    min-width: 100px;
}

.container-search {
    margin-right: 6%;
}