
.full-width {
    width: 100%;
    flex-direction: column !important;
}

.mat-form-field {
    width: 100%;
}

.center {
    text-align: center;
    align-items: center;
}

.div-login {
    padding-top: 7%;
}

.selectColor {
    width: 100%;
    text-align: center;
}