
* {
    z-index: initial;
}

.full-width {
    width: 100%;
}

.seach-input {
    padding-right: 5%;
    margin-top: 3%;
}

.list-table {
    padding-top: 1%;
    padding-right: 5%;
}

.container-search {
    padding-right: 5%;
}


mat-cell, mat-footer-cell, mat-header-cell {
    display: grid;
}

.mat-header-cell {
    color: white;
}

.mat-paginator {
    color: white;
    font-weight: bold;
    background: #6c8bc7;
}

.mat-paginator-navigation-previous mat-icon-button {
    color: black;
}

.mat-footer-row, mat-header-row {
    background: #6c8bc7;
}

h3 {
   color: #295baa;
   -webkit-text-shadow: 0 .1rem .9rem white;
    text-shadow: 0 0.1rem 0.9rem white;
    font-size: 26px;
}

.acoes {
    display: flex !important;
    text-align: center;
    padding-top: 10px;
}

.CorMarcacao {
    display: flex !important;
    text-align: center;
    padding-top: 10px;
}

.mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right: 0;
    padding-left: 0;
}

.mat-cell:first-of-type, .mat-footer-cell:first-of-type, .mat-header-cell:first-of-type {
    padding-right: 0;
    padding-left: 0;
}

.mat-footer-row, .mat-header-row, .mat-row {
    align-items: inherit;
}

.btn-novo {
    width: 100%; 
    text-align: right; 
    margin-bottom: 2%;
    margin-top: 2%;
}