<div class="containerX">
  <div class="container">
    <div fxLayout="row">
      <app-menu-lateral></app-menu-lateral>
    </div>
  </div>
  <div>
    <h3>Funcionários</h3>
  </div>

  <div class="container-search">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile [colspan]="12" [rowspan]="1">
        <div class="seach-input" class="full-width">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Pesquisa</mat-label>
            <input #search matInput (input)="onKey(search.value)" />
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="list-table">
    <div fxLayout="column">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="ID">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="id-table">
            ID
          </mat-header-cell>
          <mat-cell *matCellDef="let data" class="id-table">
            {{ data.idPk }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Nome">
          <mat-header-cell *matHeaderCellDef class="nome-table">
            Nome
          </mat-header-cell>
          <mat-cell *matCellDef="let data" class="nome-table">
            {{ data.nome }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Login">
          <mat-header-cell *matHeaderCellDef class="login-table">
            Login
          </mat-header-cell>
          <mat-cell *matCellDef="let data" class="login-table">
            {{ data.username }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="CorMarcacao">
          <mat-header-cell *matHeaderCellDef class="cor-table">
            Cor
          </mat-header-cell>
          <mat-cell
            *matCellDef="let data"
            class="CorMarcacao cor-table"
            [style.color]="data.cor"
            fxLayoutAlign="center"
          >
            <mat-icon matTooltip="Alterar">color_lens</mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Acoes">
          <mat-header-cell *matHeaderCellDef class="acoes-table">
            Ações
          </mat-header-cell>
          <mat-cell
            *matCellDef="let data"
            class="acoes acoes-table"
            fxLayoutAlign="center"
          >
            <div class="acoes-btns">
              <a
                style="cursor: pointer;margin: 5px;"
                (click)="openAlterarFuncionarioDialog(data.idPk)"
                ><mat-icon matTooltip="Alterar">assignment_ind</mat-icon></a
              >
              <a
                style="cursor: pointer;margin: 5px;"
                (click)="openExcluirFuncionarioDialog(data)"
                ><mat-icon matTooltip="Excluir">delete</mat-icon></a
              >
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: colunas"></mat-row>
      </mat-table>
    </div>

    <div class="btn-novo center">
      <button
        mat-raised-button
        color="primary"
        class="center"
        (click)="openCadastrarFuncionarioDialog()"
      >
        <mat-icon matTooltip="Cadastrar funcionário">person_add</mat-icon>
        Novo
      </button>
    </div>
  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>
