<div mat-dialog-content>
    <p>Tem certeza que deseja excluir '{{ data.func.nome }}'</p>



    <div class="alert">
      Atenção: Todos os contatos registrados ao funcionário serão excluídos.
    </div>
    <div class="center" style="text-align: center;">
      <button mat-raised-button 
              class="center" 
              style="margin: 2%;"
              (click)="onClose()">
              Não
      </button>
      <button mat-raised-button  
              color="primary" 
              class="center" 
              (click)="excluir()">
              Sim
      </button>
    </div>
  </div>