

<nav class="main-menu">

<div class="logo">
  <div>Campanha 2019</div>
</div>
<div class="scrollbar" id="style-1">
  
<ul>
  
<li>                                   
  <a [routerLink] = "['/dashboard']">
    <div class="icons">
      <i class="material-icons">dashboard</i>
    </div>
    <span class="nav-text">Dashboard</span>
  </a>
</li>   
   
<li>                                   
    <a [routerLink] = "['/drogarias']">
      <div class="icons">
        <i class="material-icons">monetization_on</i>
      </div>
      <span class="nav-text">Drogarias</span>
    </a>
  </li>     

  <li>                                   
      <a [routerLink] = "['/funcionario']">
        <div class="icons">
          <i class="material-icons">people</i>
        </div>
        <span class="nav-text">Funcionários</span>
      </a>
    </li>   


    <li>                                   
        <a [routerLink] = "['/historico']">
          <div class="icons">
            <i class="material-icons">work</i>
          </div>
          <span class="nav-text">Meu histórico</span>
        </a>
      </li>  

      <li (click)="logoff()">                                   
        <a>
          <div class="icons">
            <i class="material-icons">exit_to_app</i>
          </div>
          <span class="nav-text">Sair</span>
        </a>
      </li> 
    
</ul>

        
  