/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif !important;
  background-color: #eff2f5;
  padding-left: 90px;
}

.footer {
  height: 60px;
  width: 100%;
  background: #fff;
  color: black;
  border-top: 1px solid #d2d6de;
  margin-left: -75px;
  z-index: 9;
  padding-right: 75px;
  margin-top: 2%;
}

.main-footer {
  margin-top: 20px;
  height: 30px;
}

.containerX {
  padding-bottom: 1%;
  min-height: 100%;
  margin-bottom: -30px;
}

.geral {
  min-height: 100%;
  margin-bottom: -30px;
  padding-bottom: 1%;
}

button.btn-picker.ng-star-inserted {
  width: 100%;
  margin-bottom: 10%;
  height: 30px;
}
