<div mat-dialog-content>
    <p>Deseja vincular seu contato com essa drogaria?</p>
    <mat-form-field style="width: 45%; margin-left: 2%;" appearance="outline">
      <mat-label>Data</mat-label>
      <input matInput [value]="dataAtual" disabled>
    </mat-form-field>

    <mat-form-field style="width: 45%; margin-left: 2%;" appearance="outline">
      <mat-label>CNPJ</mat-label>
      <input matInput [(ngModel)]="data.cnpj" disabled>
    </mat-form-field>

    <mat-form-field style="width: 45%; margin-left: 2%;" appearance="outline">
      <mat-label>Nome Fantasia</mat-label>
      <input matInput [(ngModel)]="data.nomeFantasia" disabled>
    </mat-form-field>

    <mat-form-field style="width: 45%; margin-left: 2%;" appearance="outline">
        <mat-label>Tipo de Proposta</mat-label>
        <mat-select placeholder="Tipo de Proposta" #prop>
          <mat-option *ngFor="let prop of proposta" [value]="prop.value">
            {{prop.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 92%; margin-left: 2%;" appearance="outline">
      <mat-label>Observação</mat-label>
      <textarea matInput #obs placeholder="Textarea" maxlength="250" rows="4"></textarea>
      <mat-hint align="end">{{obs.value?.length || 0}}/250</mat-hint>
    </mat-form-field>

    <div class="btn-vincular center">
        <button mat-raised-button color="primary" class="center" style="margin-right: 2%;" [disabled]= "prop.value == null">
            Vincular
        </button>
        <button mat-raised-button class="center" (click)="onClose()">
            Cancelar
        </button>
    </div>
    
</div>